<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../public/css/flash.css">
    <link rel="stylesheet" href="../../public/css/flash_small.css" media="screen and (max-width:650px)">

    <link rel="stylesheet" href="../../public/css/articleDetail.css">

    <link rel="stylesheet" href="../../public/css/banner.css">
    <link rel="stylesheet" href="../../public/css/banner_small.css">
    <link rel="stylesheet" type="text/css" media="screen and (max-width:650px)" href="../../public/css/articleDetail_small.css">
    <title>快讯</title>


</head>
<body>

<div class="articleContent" >

        <div class="matter">

            <div class="fl_top">
                <ul class="fl_l_month">
                    <li class="month"></li>
                    <li class="day"></li>
                </ul>
                <ul class="fl_l_day">
                    <li>今天</li>
                    <li class="week"></li>
                </ul>
            </div>

            <div class="fl_main">
                <div class="time"></div>

                <div class="fl_main_content">
                    <h3 id="title" class="title"></h3>
                    <div id="flashDetail" class="detail"></div>
                </div>

                <!--<div class="comment">-->
                    <!--<ul>-->
                        <!--<li id="up" ><img class="upImg" src="../../public/images/上升.png" alt=""><i id="good"></i></li>-->
                        <!--<li id="down"><img class="downImg" src="../../public/images/下降.png" alt=""><i id="bearish"></i></li>-->
                        <!--<li><img src="../../public/images/分享(1).png" alt="">分享<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>-->
                            <!--<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></li>-->
                    <!--</ul>-->
                <!--</div>-->

            </div>
        </div>

        <div class="Right">
            <div class="hotArticles">

                <div class="hotTitle">热门文章</div>
                <ul class="hotUl">
                    <li>
                        <img src="../../public/imgs/touming.png">
                        <span><a href="http://www.baicu.com"></a></span>
                    </li>
                    <li>
                        <img src="../../public/imgs/touming.png">
                        <span><a href="http://www.baicu.com"></a></span>
                    </li>
                    <li>
                        <img src="../../public/imgs/touming.png">
                        <span><a href="http://www.baicu.com"></a></span>
                    </li>
                    <li>
                        <img src="../../public/imgs/touming.png">
                        <span><a href="http://www.baicu.com"></a></span>
                    </li>
                    <li>
                        <img src="../../public/imgs/touming.png">
                        <span><a href="http://www.baicu.com"></a></span>
                    </li>
                    <!--<li>-->
                    <!--<img src="https://www.xcj.com/uploads/20180704/78cbc6de9a4eb9a37b0fd7d08d9c2120.jpg">-->
                    <!--<span>asdadadasds</span>-->
                    <!--</li>-->
                </ul>

            </div>

        </div>

</div>

</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="../../public/js/layer.js"></script>
<script type="text/javascript" src="../../public/js/banner_footer.js"></script>
<script src="../../public/js/jquery.shCircleLoader-min.js"></script>
<script src="../../public/js/indexFun.js"></script>
<script src="../../public/js/flash.js"></script>