<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../../public/css/login.css">
    <link rel="stylesheet" href="../../public/css/login_small.css" media="screen and (max-width:650px)">

    <link rel="stylesheet" href="../../public/css/banner.css">
    <link rel="stylesheet" href="../../public/css/banner_small.css">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../../public/js/banner_footer.js"></script>
    <script type="text/javascript" src="../../public/js/layer.js"></script>
    <title>忘记密码</title>
</head>
<body>

<div class="main">


    <div class="page">

        <!--<div class="process">-->
        <!--<span class="line1"></span>-->
        <!--<span class="line2"></span>-->
        <!--<span class="line3"></span>-->
        <!--&lt;!&ndash;<div class="line1"></div>&ndash;&gt;-->
        <!--<div><div>1</div><span>输入登录账号</span></div>-->
        <!--<div><div>2</div><span>验证身份</span></div>-->
        <!--<div><div>3</div><span>设置新密码</span></div>-->
        <!--<div><div>4</div><span>完成</span></div>-->
        <!--</div>-->
        <p class="p-register">修改密码</p>
        <input type="hidden" id="userID">
        <input id="phone" class="inputbox" type="tel" placeholder="手机号码" maxlength="11" oninput="testphone()"
               onclick="changecolor(this)">

        <div class="inputbox" onclick="changecolor(this)">
            <input id="inVerify" type="text" readonly onfocus="this.removeAttribute('readonly');" placeholder="输入验证码">
            <input id="gettime" class="verifybox" type="button" value="获取验证码" onclick="sendcode()">
        </div>

        <input id="pass" class="inputbox" type="password" readonly onfocus="this.removeAttribute('readonly');"
               placeholder="输入新密码" onclick="changecolor(this)">

        <button id="button" class="show buttonbox" data-type="register">提交修改</button>
    </div>
</div>
</body>
</html>
<script>
    var inputArry = document.getElementsByClassName('inputbox');
    var inVerify = document.getElementById('inVerify');
    var button = document.getElementById("button");

    function changecolor(y) {
        for (var i = 0; i < inputArry.length; i++) {
            inputArry[i].style.outline = 0;
            inputArry[i].style.borderColor = '#D8D8D8';
            inVerify.style.outline = 0;
        }
        y.style.borderColor = '#FF9933';
    }

    function sendcode() {

        if (checkPhone() != 1) {
            layer.msg("请检查你输入的手机号码！")
            return;
        }

        $.ajax({
            type: "POST",
            data: {
                "phone": $("#phone").val()
            },
            dataType: "json",
            url: "/sys/sms/sendSMS",
            success: function (result) {
                if (result.code === 0) {
                    layer.msg("验证码发送成功！注意查收！")
                }
            }
        });

        settime($("#gettime").get(0))

    }


    var countDown = 60;

    function settime(time) {

        if (countDown == 0) {
            time.removeAttribute("disabled");
            time.value = "获取验证码";
            countDown = 60;
            return false;
        } else {
            time.setAttribute("disabled", true);
            time.value = "已发送" + countDown + "s";
            countDown--;
        }
        setTimeout(function () {
            settime(time);
        }, 1000);
    }

    function checkPhone() {
        var filter = /^(13[0-9]|14[579]|15[0-3,5-9]|16[6]|17[0135678]|18[0-9]|19[89])\d{8}$/;
        if (filter.test($("#phone").val())) {
            return 1;
        }
    }

    function testphone() {

        // console.log("绑定成功")
        if ($("#phone").val().length === 11 && (checkPhone() != 1)) {
            layer.msg("请输入正确的手机号码!");
        }

    }

    $(function () {
        $("#button").click(function () {

            $.ajax({
                    type: "POST",
                    data: {
                        "phone": $("#phone").val(),
                        // "password": $("#pass").val(),
                        "code": $("#inVerify").val()
                    },
                    dataType: "json",
                    url: "/sys/sms/checkSMS",
                    success: function (result) {
                        if (result.code === 0) {

                            $.ajax({
                                type: "POST",
                                data: {
                                    "phone": $("#phone").val(),
                                    "password": $("#pass").val(),
                                    "vcode": $("#inVerify").val()
                                },
                                dataType: "json",
                                url: "/sys/ajaxForgotpass",
                                success: function (result) {
                                    console.log(result);
                                    if (result.status != 200) {
                                        layer.msg(result.message);
                                        // alert("账户或密码错误")
                                        // swal("哦豁",result.message,"error");
                                    } else {

                                        layer.msg("密码修改成功正在跳转登陆页...");
                                        setTimeout(function(){
                                            location.href = "/index";
                                        }, 1000);
                                    }
                                }
                            });
                        } else if (result.code === 152) {
                            layer.msg("验证码不正确")
                        }
                    }
                }
            )


        })
    })

</script>