<!DOCTYPE html>
<head>
    <link href="https://cdn.bootcss.com/Swiper/4.3.0/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/index.css">
    <link rel="stylesheet" href="../../public/css/jquery.shCircleLoader.css">

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all and (max-width:650px)" href="../../public/css/index_samll.css">

    <link rel="stylesheet" href="../../public/css/banner.css">
    <link rel="stylesheet" href="../../public/css/banner_small.css">
    <title>7财经</title>
</head>
<body>
<!--顶部导航栏-->
    <!--<div class="topNavigation">-->
        <!--<img class="logo" src="../../public/imgs/logo.jpg">-->
        <!--<ul class="loginAndRegister">-->

            <!--<a href="http://www.baidu.com">-->
                <!--<li  class="userLi">-->
                    <!--<img class="user" src="../../public/imgs/user.png">-->
                <!--</li>-->
            <!--</a>-->


            <!--&lt;!&ndash;登陆连接&ndash;&gt;-->
            <!--<a href="/login" class="transitionA"><li>登陆</li></a>-->

            <!--<li>|</li>-->

            <!--&lt;!&ndash;注册链接&ndash;&gt;-->
            <!--<a href="/regis" class="transitionA"><li>注册</li></a>-->

            <!--<li class="writeLi">写文章</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--内容-->
<div class="content">
    <div class="contentLeft">
        <!--轮播-->
        <div id="swiperOutBox">
            <div class="swiper-container" id="swiper-container">
                <div class="swiper-wrapper" id="swiper-wrapper">
                    <!--<div class="swiper-slide" style="background-color: #d1d1d1">-->
                        <!--<a class="bannerA"><img class="banner" src="../../public/imgs/touming.png"></a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide" style="background-color: #d1d1d1">-->
                        <!--<a class="bannerA"><img class="banner" src="../../public/imgs/touming.png"></a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide" style="background-color: #d1d1d1">-->
                        <!--<a class="bannerA"><img class="banner" src="../../public/imgs/touming.png"></a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide" style="background-color: #d1d1d1">-->
                        <!--<a class="bannerA"><img class="banner" src="../../public/imgs/touming.png"></a>-->
                    <!--</div>-->
                    <!--<div class="swiper-slide" style="background-color: #d1d1d1">-->
                        <!--<a class="bannerA"><img class="banner" src="../../public/imgs/touming.png"></a>-->
                    <!--</div>-->
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>

                <!-- 如果需要导航按钮 -->
                <!--<div class="swiper-button-prev hiddenButton"></div>-->
                <!--<div class="swiper-button-next hiddenButton"></div>-->
            </div>
        </div>
        <div class="blurBox">
            <a id="blurA">
                <h2 id="blurTitle" style="z-index: 2"></h2>
                <p id="blurContent" style="z-index: 2"></p>
            </a>
            <img class="blurImg" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=66330601,1121675990&fm=27&gp=0.jpg">
            <span id="blurTime" style="z-index: 2" class="timeSpan"></span>
            <span id="blurReadNumber" style="z-index: 2" class="viewSpan"></span>
            <div class="blurBoxAfter">
            </div>
        </div>
        <div id="allNews" style="background-color: whitesmoke">
            <!--导航条-->
            <ul class="slideUl" style="margin-bottom: 0.3rem">
                <button class="modules" id="byTime">最新</button>
                <!--<li class="modules" id="byHot">快讯</li>-->
                <!--<li class="modules" id="project">项目</li>-->
                <!--<li class="modules" id="community">社区</li>-->
                <!--&lt;!&ndash;<li class="modules" id="meeting">会议</li>&ndash;&gt;-->
                <!--<li class="modules" id="policy">政策</li>-->
                <!--<li class="modules" id="figure">人物</li>-->
            </ul>

            <!--新闻内容-->

            <!--<div class="contentBox">-->
                    <!--<span>-->
                        <!--<img class="newsPic" src="https://www.xcj.com/uploads/20180718/617651171b502c82dee64f8122d5a436.jpg">-->
                    <!--</span>-->
                <!--<span class="contentBrief">-->
                        <!--<a><h2>这是一个标题这是一个标题这是一个标题这是一个标题这是一个标题这是一个标题这是这是一个标题这是一个标题这是</h2></a>-->
                        <!--<p>这是文本内容这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是这是一个标题这是一个标题这是</p>-->
                        <!--<span class="smallSpan">-->
                            <!--<span class="contentUserSpan">-->
                                <!--<img class="contentHeadPic" src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2859410315,1608202772&fm=27&gp=0.jpg">-->
                                <!--<p>name</p>-->
                            <!--</span>-->
                            <!--<span>time</span>-->
                            <!--<span>浏览量</span>-->
                            <!--<span></span>-->
                        <!--</span>-->
                    <!--</span>-->
            <!--</div>-->
            <!--<div class="jsBox">-->
                <!--<div class="grade"></div>-->
                <!--<div class="time">123123</div>-->
                <!--<div class="intro">-->
                    <!--<div class="content">-->
                        <!--<a target="_blank" class="livesb" href="http://www.baidu.com">asdasdasdasdas</a>-->
                        <!--<a target="_blank" class="livesbx">qweqweqweqweqe</a><br/>-->
                    <!--</div>-->
                    <!--<div class="font">-->
                        <!--<ul class="fontUl">-->
                            <!--<li onclick="up()">利好 <img src="../../public/imgs/up.svg"></li>-->
                            <!--<li>利空 <img src="../../public/imgs/up.svg"></li>-->
                            <!--<li>分享 <img src="../../public/imgs/share.svg"></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="jsBox">-->
                <!--<div class="grade"></div>-->
                <!--<div class="time">123123</div>-->
                <!--<div class="intro">-->
                    <!--<div class="contentJs">-->
                        <!--<a target="_blank" class="livesb" href="http://www.baidu.com">asdasdasdasdas</a>-->
                        <!--<a target="_blank" class="livesbx">qweqweqweqweqe</a><br/>-->
                    <!--</div>-->
                    <!--<div class="font">-->
                        <!--<ul class="fontUl">-->
                            <!--<li>利好</li>-->
                            <!--<li>利空</li>-->
                            <!--<li>分享</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div id="addBox" style="background-color: whitesmoke;width: 100%;height: 0.5rem"></div>-->
            <div class="loadBox">加载更多</div>
            <div style="background-color: whitesmoke;width: 100%;height: 0.5rem"></div>
        </div>
    </div>
    <div class="contentRight">
        <div class="hotArticles">
            <div class="hotTitle">热门文章</div>
            <ul class="hotUl">
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <li>
                    <img src="../../public/imgs/touming.png">
                    <span><a href="http://www.baicu.com"></a></span>
                </li>
                <!--<li>-->
                <!--<img src="https://www.xcj.com/uploads/20180704/78cbc6de9a4eb9a37b0fd7d08d9c2120.jpg">-->
                <!--<span>asdadadasds</span>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</div>

<!--<div class="foot">-->
    <!--<div class="aboutOurBox">-->
        <!--<ul>-->
            <!--<li>关于我们</li>-->
            <!--<li>服务条款</li>-->
            <!--<li>联系我们</li>-->
            <!--<li>意见反馈</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="../../public/js/jquery.shCircleLoader-min.js"></script>
<script src="../../public/js/indexFun.js"></script>
<script type="text/javascript" src="../../public/js/banner_footer.js"></script>
<script src="https://cdn.bootcss.com/Swiper/4.3.0/js/swiper.min.js"></script>
<script type="text/javascript" src="../../public/js/layer.js"></script>
<script src="../../public/js/textIndex.js"></script>
<script src="../../public/js/indexInit.js"></script>
<script src="../../public/js/index.js"></script>